.form-type-radios figure {
  display: inline-block;
  margin-top: 20px;
  width: 50% !important;
  padding-left: 10%;
  padding-right: 10%;
}
figcaption {
  text-align: center;
}
label figure {
  display: inline-block;
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 20px;
  text-align: center;
}
#edit-tree-accession figure,
#edit-samples figure,
#edit-dart-top,
#edit-isotope figure {
  width: 100%;
}
#gttn-tpps-dart-raw img {
  max-height: 300px;
}
#gttn-tpps-dart-raw,
#gttn-tpps-dart-folder {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
div#autocomplete {
  width: max-content !important;
}
table {
  border: 1px solid #b5e0ba;
  background: #ffffff;
  width: 100%;
}
thead th {
  background: #ffffff;
  border-top: 0px solid #000000 !important;
  padding: 10px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody tr td {
  padding: 3px;
  border-top: 1px solid #dedede;
}
th > div.form-type-select > .ajax-progress {
  display: none;
}
.form-item > label {
  display: inline-block;
}
.form-type-textfield,
.form-type-select,
.form-managed-file,
.form-type-checkbox,
.form-type-radios {
  text-align: right;
}
.form-item {
  margin-bottom: 5px;
}
.form-type-managed-file,
.form-type-radios {
  /* border-top: 1px solid #b5e0ba; */
  border-bottom: 1px solid #b5e0ba;
}
.form-type-managed-file {
  padding: 10px 20px 0px;
}
.form-managed-file {
  text-align: right;
}
.form-managed-file legend {
  text-align: left;
}
.form-managed-file > fieldset {
  margin-top: 20px;
  margin-bottom: 10px;
}
.hide-me {
  display: none !important;
}
#gttn_tpps_table_display,
.gttn_tpps_table {
  background: #ffffff;
  border: 1px solid #b5e0ba;
  border-radius: 4px;
  padding: 0px 10px;
  margin-bottom: 20px;
}
#gttn_tpps_table_display td {
  padding: 10px;
}

#gttn-tpps-reference-search {
  margin-bottom: 10px;
}
#gttn-tpps-reference-search select {
  height: 28px;
}
#gttn-tpps-reference-search-wrapper  {
  margin: 10px 0px;
}
#gttn-tpps-reference-search-wrapper > div {
  display: inline-block;
}

#gttn-tpps-main fieldset,
#gttn-tpps-main-edit fieldset,
#gttn-tpps-main .gttn-fieldset,
#gttn-tpps-main-edit .gttn-fieldset {
  margin-top: 25px !important;
  margin-bottom: 35px !important;
}

#gttn-tpps-main fieldset input[id*='map_button'] {
  margin-bottom: 10px;
}

#gttn-tpps-main .gttn-fieldset .fieldset-legend,
#gttn-tpps-main-edit .gttn-fieldset .fieldset-legend,
#edit-group-welcome .fieldset-legend,
#edit-project-props .fieldset-legend,
#edit-data-type-fieldset .fieldset-legend,
#edit-organism .fieldset-legend,
#gttn_tpps_accession .fieldset-legend,
#gttn_tpps_samples .fieldset-legend,
#gttn-tpps-dart .fieldset-legend,
#gttn-tpps-isotope .fieldset-legend,
#gttn-tpps-genetic .fieldset-legend,
#gttn-tpps-anatomy .fieldset-legend
{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  border-left: 20px solid #19b697;
  border-right: 1px solid #1abc9c;
  border-top: 1px solid #1abc9c;
  border-bottom: 1px solid #1abc9c;
  margin-bottom: 15px;
}

#gttn-tpps-main .gttn-fieldset .gttn-fieldset-wrapper,
#gttn-tpps-main-edit .gttn-fieldset .gttn-fieldset-wrapper,
#edit-group-welcome .fieldset-wrapper,
#edit-project-props .fieldset-wrapper,
#edit-data-type-fieldset .fieldset-wrapper,
#edit-organism .fieldset-wrapper,
#gttn_tpps_accession > fieldset > .fieldset-wrapper,
#gttn_tpps_samples > fieldset > .fieldset-wrapper,
#gttn-tpps-dart .fieldset-wrapper,
#gttn-tpps-isotope .fieldset-wrapper,
#gttn-tpps-genetic .fieldset-wrapper,
#gttn-tpps-anatomy .fieldset-wrapper
{
  border: 1px solid #1abc9c2e;
  padding: 10px;
  border-radius: 2px;
}
